@model CRUDProfAluno.Models.Professor

@{
    ViewBag.Title = "Details";
}

<div>
    <h1> @Html.DisplayFor(model => model.Nome)</h1>

   <hr/>
    <div>
        <h4>Lista de Alunos</h4>
        <table class="table table-hover">
                <tr>
                    <th scope="col">@Html.DisplayName("Nome")</th>
                    <th scope="col">@Html.DisplayName("DataNascimento")</th>
                </tr>
            
                @foreach (var item in Model.Alunos)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.DataNascimento)</td>
                    </tr>
                }
            
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Editar Professor", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
