@model IEnumerable<CRUDProfAluno.Models.Aluno>

@{
    ViewBag.Title = "Maiores16Anos";
}

<h2>Lista de alunos maiores de 16 anos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Professor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Where(x => x.getIdade() > 16)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Professor.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
